<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <display-name>Homework</display-name>
    <context-param>
        <param-name>tip</param-name>
        <param-value>公告：欢迎使用作业管理工作室，不得用于商业用途。</param-value>
    </context-param>
    <servlet>
        <servlet-name>Reg</servlet-name>
        <servlet-class>com.bb.servlet.Reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUser</servlet-name>
        <servlet-class>com.bb.servlet.ChangeUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckName</servlet-name>
        <servlet-class>com.bb.servlet.CheckName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteWork</servlet-name>
        <servlet-class>com.bb.servlet.DeleteWork</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpWorkShow</servlet-name>
        <servlet-class>com.bb.servlet.UpWorkShow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryWork</servlet-name>
        <servlet-class>com.bb.servlet.QueryWork</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryWorkWithTeacher</servlet-name>
        <servlet-class>com.bb.servlet.QueryWorkWithTeacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpWork</servlet-name>
        <servlet-class>com.bb.servlet.UpWork</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeWork</servlet-name>
        <servlet-class>com.bb.servlet.ChangeWork</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.bb.servlet.Login</servlet-class>
        <init-param>
            <param-name>email</param-name>
            <param-value>hacker@163.com</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>LoginOut</servlet-name>
        <servlet-class>com.bb.servlet.LoginOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Reg</servlet-name>
        <url-pattern>/Reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpWorkShow</servlet-name>
        <url-pattern>/UpWorkShow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryWorkWithTeacher</servlet-name>
        <url-pattern>/QueryWorkWithTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUser</servlet-name>
        <url-pattern>/ChangeUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryWork</servlet-name>
        <url-pattern>/QueryWork</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteWork</servlet-name>
        <url-pattern>/DeleteWork</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpWork</servlet-name>
        <url-pattern>/UpWork</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeWork</servlet-name>
        <url-pattern>/ChangeWork</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginOut</servlet-name>
        <url-pattern>/Login_out</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckName</servlet-name>
        <url-pattern>/CheckName</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>80</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>jsp/login.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error/404.html</location>
    </error-page>

</web-app>